<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="container">
    <video class="background-video" muted autoplay loop src="videos/road.mp4">
    </video>
    <div class="content-container">
      <div class="content-bar trans">
        <div class="header-text" id="header-text">

        </div>
      </div>
    </div>
      <script>
    $.ajax({
      type: "GET",
      success: function(data) {
        console.log(data)
      $("#header-text").html("<h1 class='success-header'>Success! Your driveway has been posted</h1>");
      },
      url: "/allListings/80923"
    });
  </script>
  </body>
  </html>