<html>
<head>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/classie.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
   
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/set1.css">
</head>
<body>
  <div class="container">
    <video class="background-video" muted autoplay loop src="videos/road.mp4">
    </video>
    <div class="content-container">
      <div class="content-bar trans">
        <div class="header-content" id="header-content">
                  <span class="input input--hoshi">
            <!-- <input class="input__field input__field--hoshi" type="text" id="zipcode" /> -->
            <input id="daterange" class="input__field input__field--hoshi" type="text" name="daterange" />
            <label class="input__label input__label--hoshi" for="daterange">
              <span id="input__label-content--hoshi" class="input__label-content input__label-content--hoshi">Date Range</span>
              <input type="hidden" id="startDate">
              <input type="hidden" id="endDate">
            <script type="text/javascript">
              $("#startDate").val((new Date).getTime());
              $("#endDate").val((new Date).getTime());
            $(function() {
                $('input[name="daterange"]').daterangepicker({

              }, 
              function(start, end, label) {
                  $("#startDate").value = start;
                  $("#endDate").value = end;

                  // $("#input__label-content--hoshi").html(start.format('YYYY-MM-DD') + " - " + end.format('YYYY-MM-DD'));
              });
            });
            </script>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="address" />
            <label class="input__label input__label--hoshi" for="address">
              <span class="input__label-content input__label-content--hoshi">Address</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="city" />
            <label class="input__label input__label--hoshi" for="city">
              <span class="input__label-content input__label-content--hoshi">City</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="state" />
            <label class="input__label input__label--hoshi" for="state">
              <span class="input__label-content input__label-content--hoshi">State</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="zipcode" />
            <label class="input__label input__label--hoshi" for="zipcode">
              <span class="input__label-content input__label-content--hoshi">Zip Code</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="photoUrl" />
            <label class="input__label input__label--hoshi" for="photoUrl">
              <span class="input__label-content input__label-content--hoshi">Photo Url</span>
            </label>
          </span>
          <button class="flat-button emerald" id="post-driveway">Post Driveway</button>
          <script type="text/javascript">
            $(function() {
                $('#post-driveway').click( function(){
                  console.log("submitting");
                  $.ajax({
                    type: "POST",
                    success: function(data) {
                    $("#header-content").html("<h1 class='success-header'>Success! Your driveway has been posted</h1>");
                    },
                    url: "/postListing/" + $("#startDate").val() + "/" + $("#endDate").val() + "/" + $("#address").val() + "/" + $("#city").val() + "/" + $("#state").val() + "/" + $("#zipcode").val()
                  });
              });
              });
            </script>
        </div>
      </div>
    </div>
  </body>
  </html>