<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="container">
    <div class="background-video background-still"></div>
    <div class="content-container">
      <div class="content-bar trans">
        <div class="header-text">
          <div class="header-title-container">
            MasterDrive
          </div>
          <div class="header-divider"></div>
          <div class="header-subtitle"><button class="flat-button">Find A Driveway</button></div>
        </div>
      </div>
      <div class="list-driveway">
        <button class="flat-button turquoise">List your driveway</button>
      </div>
    </div>
  </body>
  </html>